<form id="new-story">
  <fieldset>
    <legend>Create Story</legend>
    <label {{bindAttr for='titleField.elementId'}}>Title</label>
    {{ view Ember.TextField valueBinding='controller.title' name='title' viewName='titleField' }}

    <div class="buttons">
      <input type="submit" value="create" />
      {{#view Trakio.StoriesNewCancelButtonView }}<button type="button">cancel</button>{{/view}}
    </div>
  </fieldset>
</form>
