<form id="new-story">
  <fieldset>
    <legend>Create Story</legend>

    <div class="field-pair">
      <label {{bindAttr for='titleField.elementId'}}>Title</label>
      {{ view Ember.TextField valueBinding='controller.title' name='title' viewName='titleField' }}
    </div>

    <div class="field-pair description">
      <label {{bindAttr for='descriptionField.elementId'}}>Description</label>
      {{ view Ember.TextArea valueBinding='controller.description' name='decription' viewName='descriptionField' }}
    </div>

    <div class="buttons">
      <input type="submit" value="create" />
      {{#view Trakio.StoriesNewCancelButtonView }}<button type="button">cancel</button>{{/view}}
    </div>
  </fieldset>
</form>
