<section class="stories">
  <nav class="actions">
    <ul>
      <li class="action add"></li>
    </ul>
  </nav>
  <header>Stories</header>
  <ul>
    {{#each controller}}
      <li class="story">{{title}}</li>
    {{/each}}
  </ul>
</section>
