<li class="story">
  {{title}}
  <div class="details">
    <p>{{description}}</p>
    <dl class="details-properties">
      <dd class="property-key">Reported By</dd>
      <dt class="property-value">{{reporter.displayName}}</dt>
    </dl>
  </div>
</li>