<div id="confirmation-dialog">
  <header>{{view.message}}</header>
  <div class="buttons">
    <a href="#" class="button confirm yes">yes</a>
    <a href="#" class="button deny no">no</a>
  </div>
</div>