* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  background: $off-white;
}

ul {
  margin: 0;
  list-style-type: none;
}

$header-size: 60px;

header {
  background: $light-blue;
  border-bottom: 10px solid $dark-blue;
  min-height: $header-size;
  position: fixed;
  top: 0;
  width: 100%;

  .content {
    @include outer-container;
    .logo {
      margin-top: 10px;
      font-size: 30px;
      @include span-columns(1);

      a {
        color: $off-white;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.50);
        text-decoration: none;
      }
    }

    nav {
      @include span-columns(10);
      float: right;
      height: 50px;
      ul {
        height: 100%;
        li {
          float: right;
          display: inline-block;
          height: 100%;
          a {
            display: inline-block;
            background: lighten($light-blue, 4%);
            color: $off-white;
            height: 100%;
            padding: 25px 15px 0 15px;
            text-decoration: none;
          }
        }
      }
    }
  }

}

#content {
  @include outer-container;
  margin-top: $header-size;
}