* {
  box-sizing: border-box;
  font-family: $sans-serif;
}

body {
  background: $background-gray;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

$header-size: 60px;

header.application {
  background: $off-white;
  border-bottom: 1px solid $dark-gray;
  min-height: $header-size;
  @include box-shadow(1px 2px 4px 0 rgba(0,0,0,0.3));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .content {
    @include outer-container;
    .logo {
      margin-top: 10px;
      font-size: 30px;
      @include span-columns(1);

      a {
        color: $dark-gray;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.50);
        text-decoration: none;
      }
    }

    nav {
      @include span-columns(10);
      float: right;
      height: 50px;
      ul {
        float: right;
        height: 100%;
        li {
          display: inline-block;
          height: 100%;
          a {
            text-transform: lowercase;
            display: inline-block;
            background: $medium-gray;
            color: $off-white;
            height: 100%;
            padding: 25px 15px 16px 15px;
            text-decoration: none;
          }
        }
      }
    }
  }

}

#content {
  @include outer-container;
  margin-top: $header-size;
}

@mixin shadow-box {
  border-radius: 4px;
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 3px 0px);
}