.button {

  @mixin for-color($color) {
    background: $color;
    &:hover {
      background: lighten($color, 4);
    }
  }

  @include for-color($light-blue);
  border: none;
  color: $white;
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;

  &.create {
    margin-top: 10px;
  }

  &.confirm {

  }

  &.deny {
    @include for-color($medium-red);
  }

  &.small {
    font-size: 12px;
    padding: 3px 10px;
  }

}

.close-button {
  position: absolute;
  top: -7px;
  right: -7px;
  background: $white image-url('close.png') no-repeat;
  border-radius: 20px;
  width: 22px;
  height: 22px;
  display: block;
}
