/* Monocromatic */
$white: #ffffff;
$off-white: #fbfbfb;
$background-gray: #eeeeee;
$medium-gray: #666666;
$dark-gray: #444444;
$black: #000000;

/* Blues */
$light-blue: #99b2ee;
$dark-blue: #4d6fbf;

/* Reds */
$light-red: #cd5c5c;

/* Functional Descriptions (need color names?) */

$stories-header: #534D4B;
$stories-header-bg: #f6f6f6;