.stories {
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 3px 0px);
  border: 1px solid #bebebe;
  border-radius: 4px;
  margin: 50px 0;
  font-family: $sans-serif;

  header {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #b5b5b5;
    color: $stories-header;
    background: $stories-header-bg;
    text-shadow: $white 0px 1px 0px;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 10px;
  }

  ul {
    border-radius: 4px;
    .story {
      padding: 7px 10px;
      background: $off-white;
      border-bottom: 1px solid #b5b5b5;
    }
  }

  .actions {
    @include outer-container;
    position: fixed;
    margin: 30px 0 0 -33px;

    ul {
      @include span-columns(1);
      .action {
        height: 32px;
        width: 32px;

        &.add {
          a {
            background: $white url('icons/stories/add.png') no-repeat 7px 7px;

            &:hover {
              background: #f2f2f2 url('icons/stories/add-selected.png') no-repeat 7px 7px;
            }

            &:active {
              background: #e0e0e0 url('icons/stories/add-selected.png') no-repeat 7px 7px;
            }
          }
        }

        a {
          height: 100%;
          width: 100%;
          cursor: pointer;
          display: block;
          border: 1px solid #cccccc;

          @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 3px 0px);

          &:first-child {
            border-radius: 4px 0 0 0;
            &:last-child {
              border-radius: 4px 0 0 4px;
            }
          }

          &:last-child {
            border-radius: 0 0 0 4px;
          }
        }
      }
    }
  }

  .story {
    $background: $white;
    position: relative;
    &:hover {
      cursor: pointer;
      background: $background;
      .details {
        position: absolute;
        display: block;
        height: 40px;
        z-index: 1;
        left: 0;
        padding: 0 10px;
      }
    }

    .details {
      background: $background;
      padding: 0;
      display: none;
      cursor: default;
      height: 0;
      overflow: hidden;

      p {
        display: block;
        font-size: 14px;
        color: $medium-gray;
      }

      &.expanded {
        height: inherit;
        display: block;
        overflow: auto;
        position: relative;
        top: auto;
        padding: 0 !important;
      }
    }
  }

}