.stories-container {
  @include shadow-box;
  border: 1px solid #bebebe;
  margin: 50px 0 50px 41px;
  font-family: $sans-serif;

  header {
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #b5b5b5;
    color: $stories-header;
    background: $stories-header-bg;
    text-shadow: $white 0px 1px 0px;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 10px;
  }

  .stories {
    border-radius: 4px;
    min-height: 80px;
    background: $white;

    li.story {

      @mixin icon($color) {
        $dark-color: darken($color, 40);
        background: $color;
        color: $dark-color;
        border: 2px solid $dark-color;
      }

      vertical-align: middle;
      padding: 10px 7px 10px 55px;
      border-bottom: 1px solid #b5b5b5;
      $background: $white;
      background: $background;
      position: relative;

      @mixin shadow {
        @include box-shadow(0px 2px 4px 0 rgba(0,0,0,0.50));
      }

      &.finished {
        background: $light-gray;
        color: $medium-gray;
        &:hover {
          background: $light-gray;
          color: $medium-gray;
        }

        .icon {
          &.story, &.bug, &.task {
            @include icon($medium-gray);
          }
        }
      }

      &.started {
        background: $light-green;
      }

      &:hover {
        @include shadow;
        cursor: pointer;
        background: $background;
      }

      .drag {
        cursor: move;
        position: absolute;
        top: 12px;
        left: 7px;
        background: image-url('drag_handle.png') no-repeat;
        width: 10px;
        height: 18px;
      }

      .icon {
        display: inline-block;
        margin-right: 5px;
        font-weight: bold;
        font-size: 12px;
        padding: 3px 7px;
        position: absolute;
        top: 6px;
        left: 20px;
        width: 26px;
        height: 26px;

        &.story {
          @include icon($light-blue);
        }

        &.bug {
          @include icon($light-red);
        }

        &.task {
          @include icon($light-gray);
        }

      }

      .assignee-image {
        display: inline-block;
        position: absolute;
        top: 6px;
        right: 6px;
        width: 26px;
        height: 26px;
        border: 1px solid $medium-gray;
      }

      .title {
        display: inline-block;
      }

      .details {
        padding: 0;
        display: none;
        color: $medium-gray;
        cursor: default;
        height: 0;
        font-size: 14px;
        overflow: hidden;

        p {
          display: block;
        }

        .details-properties {

          .details-property {

            .property-key {
              font-weight: bold;
              display: inline-block;
              width: 100px;
              &:after {
                content: ":";
              }
            }

            .property-value {
              margin: 0;
              display: inline-block;
            }
          }
        }

        &.expanded {
          height: inherit;
          display: block;
          overflow: auto;
          position: relative;
          top: auto;
          padding: 0 !important;
          @include box-shadow(none);
        }
      }
    }
  }

  .actions-container {
    @include outer-container;
    position: fixed;
    z-index: 2;
    margin: 30px 0 0 -41px;

    .actions {
      @include span-columns(1);
      .action {
        height: 40px;
        width: 40px;

        &.add {
          position: relative;
          a {
            background: $white image-url('icons/stories/add.png') no-repeat center center;

            &:hover {
              background: $highlighted-white image-url('icons/stories/add-selected.png') no-repeat center center;
            }

            &:active {
              background: $active-white image-url('icons/stories/add-selected.png') no-repeat center center;
            }
          }
        }

        &.users {
          position: relative;
          a {
            background: $white image-url('icons/stories/users.png') no-repeat center center;

            &:hover {
              background: $highlighted-white image-url('icons/stories/users.png') no-repeat center center;
            }

            &:active {
              background: $active-white image-url('icons/stories/users.png') no-repeat center center;
            }
          }
        }

        a {
          height: 40px;
          width: 40px;
          cursor: pointer;
          display: block;
          border: 1px solid #cccccc;
          @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 3px 0px);

          &:first-child {
            border-radius: 4px 0 0 0;
            &:last-child {
              border-radius: 4px 0 0 4px;
            }
          }

          &:last-child {
            border-radius: 0 0 0 4px;
          }
        }

      }
    }
  }

  .zero {
    padding: 7px 10px;
    font-weight: bold;
    background: $white;
    position: relative;
    text-align: center;
    min-height: 33px;

    @mixin shadow {
      @include box-shadow(0px 2px 4px 0 rgba(0,0,0,0.50));
    }
  }
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.1) image-url('loading.gif') no-repeat center center;
  border-radius: 4px;
}

#new-story {
  @include shadow-box;
  background: $off-white;
  position: absolute;
  top: 0;
  display: none;
  padding: 20px;
  border: 1px solid #bebebe;
  border-left: none;
  left: 33px;
  z-index: 20;

  fieldset {
    border: none;
    background: $off-white;

    legend {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    label {
      margin: 0 20px 5px 0;
      display: block;

      &.story_type {
        display: inline-block;
        margin: 0 5px 5px 0;
        &:after {
          content: ':';
        }
      }
    }

    input[type=text], textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    .buttons {
      margin-top: 15px;
      float: right;
      .ember-view, input[type=submit] {
        display: inline;
        margin-left: 10px;
      }
    }
  }
}

#user_management {
  border: 1px solid #939393;
  display: none;
  position: fixed;
  opacity: 0;
  @include shadow-box;
  background: $white;
  padding: 20px;
  width: 500px;
  z-index: 10;

  .users {
    max-height: 400px;
    overflow-y: scroll;
    margin: 10px;
    .user {
      margin: 10px 0;
      img {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: auto;
        margin-right: 15px;
        border-radius: 4px;
        border: 1px solid $dark-gray;
      }
      .email {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        font-size: 18px;
        color: dark-gray;
      }
    }
  }

  label {
    display: inline-block;
    font-weight: bold;
    width: 80px;
  }

  input[type=email] {
    display: inline-block;
    width: 250px;
  }

  h2 {
    margin: 0 0 10px;
  }

  .button {
    margin-left: 10px;
  }

}